<postcss src="../shared_styles/style.postcss"></postcss>
<div>
    <div class="row center">
    <div class="col-6 center">
        <h1> View Your Active Requests </h1>
    </div>
</div>
<h2> Requests Owed By You </h2>
<div class="cards">
    <dom-repeat items="{{requestsAsPayer}}">
        <template is="dom-repeat">
            <div class="card">
                <span> Pay To: {{item.payee}} </span> <br>
                <span> Reason: {{item.reason}} </span> <br>
                <span> Amount Charged: {{item.expectedAmount}} </span> <br>
                <button type="button" on-click="payRequest"> Pay Request </button>
            </div>
        </template>
    </dom-repeat>
</div>
<h2> Requests Created By You </h2>
<button type="button" on-click="testFunc"> Load Requests </button>
<div class="cards">
    <dom-repeat items="{{requestsAsPayee}}">
        <template is="dom-repeat">
            <div class="card">
                <span> Charged: {{item.payer}} </span> <br>
                <span> Reason: {{item.reason}} </span> <br>
                <span> Amount Charged: {{item.expectedAmount}} </span> <br>
                <button type="button" on-click="cancelRequest"> Cancel Request </button>
            </div>
        </template>
    </dom-repeat>
</div>
</div>